body {
text-align: center;

}

#main {
width: 1100px;
height: 500px;
background: #996633;
margin: 25px auto;
border: 2px solid brown;
border-radius: 5px;
}

#main1 {
width: 1000px;
height: 400px;
background: #996633;
margin: 25px auto;
border: 2px solid brown;
border-radius: 5px;
}

.small-btn {
    width: 50px;
    height: 25px;
}
    
.medium-btn {
    width: 70px;
    height: 30px;
}
    
.big-btn {
    width: 90px;
    height: 40px;
}

